<html>
<head>
    <title>CLOUD FORMATION TEMPLATE GENERATOR</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
    <div class="row">
        <div class="logo">
        <img src="static/css/img/logo1.png"
        </div>

    <ul class="main-nav">
        <li class="active"><a href=""> HOME </a></li>
        <li><a href="{{'/s3'}}"> S3 </a></li>
        <li><a href="{{'/ec2'}}"> EC2 </a></li>
        <li><a href="{{'/vpc'}}"> VPC </a></li>
        <li><a href="{{'/rds'}}"> RDS </a></li>
        <li><a href="{{'/customize'}}"> CUSTOMIZE </a></li>
        <li><a href="{{'/login'}}"> LOGIN </a></li>
<!--        <li><a href=""> FAQ </a></li>-->
    </ul>
    </div>
    <div class="cloud">
    <h1>CLOUD FORMATION</h1>
    <div class="button">
        <a href="" class="btn btn-one"> About Us</a>
        <a href="" class="btn btn-two"> Contact Us</a>
    </div>
    </div>
    </header>
</body>
</html>