<html>
<head>
    <title>CLOUD FORMATION TEMPLATE GENERATOR</title>
    <link href="static/css/s3style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
    <div class="row">
        <div class="logo">
        <img src="static/css/img/logo1.png"
        </div>
    </div>
    <div class="create-bucket">
      <form class="" action="loginsuccess.html" method="post">
        <h1>Login Successfull</h1>
          <p class="select1"><a href="{{'/'}}">Back to home Page</a></p>
      </form>
    </div>
    </header>
</body>
</html>
